<div class="container-fluid">
  <h3>This is the login page</h3>

  With some text here.

  <div data-controller="ping">
    <button class="btn btn-primary" data-action="ping#handleClick">Test</button>
  </div>
</div>
